################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MicroShop.Services.CouponAPI/bin
/MicroShop.Services.CouponAPI/obj
/MicroShop.Services.EmailAPI/bin
/MicroShop.Services.EmailAPI/obj
/MircoShop.MessageBus/bin
/MircoShop.MessageBus/obj
/MircroShop.Services.AuthAPI/bin
/MircroShop.Services.AuthAPI/obj
/MicroShop.Gateway.Ocelot/bin/Debug/net8.0
/MicroShop.Gateway.Ocelot/obj
