################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MicroShop.Services.CouponAPI/bin
/MicroShop.Services.CouponAPI/obj
/MicroShop.Services.EmailAPI/bin
/MicroShop.Services.EmailAPI/obj
/MircoShop.MessageBus/bin
/MircoShop.MessageBus/obj
/MircroShop.Services.AuthAPI/bin
/MircroShop.Services.AuthAPI/obj
/MicroShop.Gateway.Ocelot/bin/Debug/net8.0
/MicroShop.Gateway.Ocelot/obj
MicroShop.Services.AuthAPI/bin/Debug/net8.0/appsettings.Development.json
MicroShop.Services.AuthAPI/bin/Debug/net8.0/appsettings.json
MicroShop.Services.AuthAPI/bin/Debug/net8.0/AutoMapper.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Azure.Core.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Azure.Identity.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Humanizer.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/MicroShop.Services.AuthAPI.deps.json
MicroShop.Services.AuthAPI/bin/Debug/net8.0/MicroShop.Services.AuthAPI.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/MicroShop.Services.AuthAPI.exe
MicroShop.Services.AuthAPI/bin/Debug/net8.0/MicroShop.Services.AuthAPI.pdb
MicroShop.Services.AuthAPI/bin/Debug/net8.0/MicroShop.Services.AuthAPI.runtimeconfig.json
MicroShop.Services.AuthAPI/bin/Debug/net8.0/MicroShop.Services.AuthAPI.staticwebassets.endpoints.json
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.AspNetCore.Cryptography.Internal.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.Build.Locator.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.Extensions.Caching.Abstractions.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.Extensions.Identity.Core.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.Extensions.Identity.Stores.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.Identity.Client.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.OpenApi.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/MircroShop.Services.AuthAPI.deps.json
MicroShop.Services.AuthAPI/bin/Debug/net8.0/MircroShop.Services.AuthAPI.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/MircroShop.Services.AuthAPI.exe
MicroShop.Services.AuthAPI/bin/Debug/net8.0/MircroShop.Services.AuthAPI.pdb
MicroShop.Services.AuthAPI/bin/Debug/net8.0/MircroShop.Services.AuthAPI.runtimeconfig.json
MicroShop.Services.AuthAPI/bin/Debug/net8.0/MircroShop.Services.AuthAPI.staticwebassets.endpoints.json
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Mono.TextTemplating.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/RabbitMQ.Client.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/System.ClientModel.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/System.CodeDom.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/System.Composition.AttributedModel.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/System.Composition.Convention.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/System.Composition.Hosting.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/System.Composition.Runtime.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/System.Composition.TypedParts.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/System.Diagnostics.DiagnosticSource.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/System.Drawing.Common.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/System.Formats.Asn1.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/System.IO.Pipelines.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/System.Memory.Data.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/System.Runtime.Caching.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/System.Security.Permissions.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/System.Text.Encodings.Web.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/System.Text.Json.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/System.Windows.Extensions.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
MicroShop.Services.AuthAPI/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
MicroShop.Services.AuthAPI/obj/MicroShop.Services.AuthAPI.csproj.nuget.dgspec.json
MicroShop.Services.AuthAPI/obj/MicroShop.Services.AuthAPI.csproj.nuget.g.props
MicroShop.Services.AuthAPI/obj/MicroShop.Services.AuthAPI.csproj.nuget.g.targets
MicroShop.Services.AuthAPI/obj/MircroShop.Services.AuthAPI.csproj.nuget.dgspec.json
MicroShop.Services.AuthAPI/obj/MircroShop.Services.AuthAPI.csproj.nuget.g.props
MicroShop.Services.AuthAPI/obj/MircroShop.Services.AuthAPI.csproj.nuget.g.targets
MicroShop.Services.AuthAPI/obj/project.assets.json
MicroShop.Services.AuthAPI/obj/project.nuget.cache
MicroShop.Services.AuthAPI/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
MicroShop.Services.AuthAPI/obj/Debug/net8.0/ApiEndpoints.json
MicroShop.Services.AuthAPI/obj/Debug/net8.0/apphost.exe
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MicroSho.2A362A80.Up2Date
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MicroShop.Services.AuthAPI.AssemblyInfo.cs
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MicroShop.Services.AuthAPI.AssemblyInfoInputs.cache
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MicroShop.Services.AuthAPI.assets.cache
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MicroShop.Services.AuthAPI.csproj.AssemblyReference.cache
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MicroShop.Services.AuthAPI.csproj.BuildWithSkipAnalyzers
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MicroShop.Services.AuthAPI.csproj.CoreCompileInputs.cache
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MicroShop.Services.AuthAPI.csproj.FileListAbsolute.txt
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MicroShop.Services.AuthAPI.dll
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MicroShop.Services.AuthAPI.GeneratedMSBuildEditorConfig.editorconfig
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MicroShop.Services.AuthAPI.genruntimeconfig.cache
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MicroShop.Services.AuthAPI.GlobalUsings.g.cs
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MicroShop.Services.AuthAPI.MvcApplicationPartsAssemblyInfo.cache
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MicroShop.Services.AuthAPI.MvcApplicationPartsAssemblyInfo.cs
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MicroShop.Services.AuthAPI.pdb
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MicroShop.Services.AuthAPI.sourcelink.json
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MircroSh.AB0CE9AB.Up2Date
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MircroShop.Services.AuthAPI.AssemblyInfo.cs
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MircroShop.Services.AuthAPI.AssemblyInfoInputs.cache
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MircroShop.Services.AuthAPI.assets.cache
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MircroShop.Services.AuthAPI.csproj.AssemblyReference.cache
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MircroShop.Services.AuthAPI.csproj.CoreCompileInputs.cache
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MircroShop.Services.AuthAPI.csproj.FileListAbsolute.txt
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MircroShop.Services.AuthAPI.dll
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MircroShop.Services.AuthAPI.GeneratedMSBuildEditorConfig.editorconfig
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MircroShop.Services.AuthAPI.genruntimeconfig.cache
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MircroShop.Services.AuthAPI.GlobalUsings.g.cs
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MircroShop.Services.AuthAPI.MvcApplicationPartsAssemblyInfo.cache
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MircroShop.Services.AuthAPI.MvcApplicationPartsAssemblyInfo.cs
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MircroShop.Services.AuthAPI.pdb
MicroShop.Services.AuthAPI/obj/Debug/net8.0/MircroShop.Services.AuthAPI.sourcelink.json
MicroShop.Services.AuthAPI/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
MicroShop.Services.AuthAPI/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
MicroShop.Services.AuthAPI/obj/Debug/net8.0/rpswa.dswa.cache.json
MicroShop.Services.AuthAPI/obj/Debug/net8.0/staticwebassets.build.endpoints.json
MicroShop.Services.AuthAPI/obj/Debug/net8.0/staticwebassets.build.json
MicroShop.Services.AuthAPI/obj/Debug/net8.0/staticwebassets.build.json.cache
MicroShop.Services.AuthAPI/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
MicroShop.Services.AuthAPI/obj/Debug/net8.0/staticwebassets.removed.txt
MicroShop.Services.AuthAPI/obj/Debug/net8.0/EndpointInfo/MicroShop.Services.AuthAPI.json
MicroShop.Services.AuthAPI/obj/Debug/net8.0/EndpointInfo/MicroShop.Services.AuthAPI.OpenApiFiles.cache
MicroShop.Services.AuthAPI/obj/Debug/net8.0/EndpointInfo/MircroShop.Services.AuthAPI.json
MicroShop.Services.AuthAPI/obj/Debug/net8.0/EndpointInfo/MircroShop.Services.AuthAPI.OpenApiFiles.cache
MicroShop.Services.AuthAPI/obj/Debug/net8.0/ref/MicroShop.Services.AuthAPI.dll
MicroShop.Services.AuthAPI/obj/Debug/net8.0/ref/MircroShop.Services.AuthAPI.dll
MicroShop.Services.AuthAPI/obj/Debug/net8.0/refint/MicroShop.Services.AuthAPI.dll
MicroShop.Services.AuthAPI/obj/Debug/net8.0/refint/MircroShop.Services.AuthAPI.dll
